<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>challengedayindia</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Vesper+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css?family=Charm&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap" rel="stylesheet"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-xl navbar-light">
            <a class="navbar-brand" href="/home"><img src="/images/8.png" alt="" srcset=""
                style="width:350px ;max-width: 350px; height: auto; margin-left: 40px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color:#814c81;" href="#" id="navbarDropdownMenuLink"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    HOME
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item d1" href="/home/#aboutus" style="color:#814c81;">ABOUT US</a>
                    <a class="dropdown-item d2" href="/home/#ourapproach" style="color:#814c81;">OUR APPROACH</a>
                    <a class="dropdown-item d3" href="/home/#ourmission" style="color:#814c81;">OUR MISSION</a>
                    <a class="dropdown-item d4" href="/home/#ourvision" style="color:#814c81;">OUR VISION</a>
                    <a class="dropdown-item d5" href="/home/#sel" style="color:#814c81;">WHAT IS SEL?</a>
                    <a class="dropdown-item d6" href="/home/#team" style="color:#814c81;">TEAM</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color:#814c81;" href="#" id="navbarDropdownMenuLink"
                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PROGRAMS
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item d1" href="/programs/challenge_day_india" style="color:#814c81;">CHALLENGE DAY</a>
                    <a class="dropdown-item d2" href="/programs/pankh_udaan" style="color:#814c81;">UNWRAP EMOTIONS</a>
                    <a class="dropdown-item d3" href="/programs/sewing_hope" style="color:#814c81;">SEWING HOPE</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/get_involved" style="color:#814c81;">GET INVOLVED</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/celebrity_wall" style="color:#814c81">CELEBRITY WALL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/get_involved" style="color:#814c81">DONATE</a>
                </li>
              </ul>
            </div>
          </nav>
          <hr class="style-two">
          <br>
          <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box-icon">
                    <h1 class="text-center"><b style="color:#fff; background-color:#9a4a99 ;padding:12px;" ;>CHALLENGE DAY INDIA</b></h1>
                </div>
            </div>
        </div>
    </div>
    <br>

    <style>



        .box {
            border-radius: 20px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            padding: 10px 25px;
            text-align: justify;
            display: block;
            margin-top: 60px;
            background-color: #ecd5e6
        }

        .box-icon {
         
            border-radius: 0%;
            display: Table;
            height: 25px;
            margin: 0 auto;
            width: 550px;
            margin-top: -45px;
        }

        .info h3 {
            font-size: 22px;
            letter-spacing: 2px;
            color: #9a4a99
        }

        

        .info>a {
            background-color: #03a9f4;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            color: #fff;
            transition: all 0.5s ease 0s;
        }

        .info>a:hover {
            background-color: #0288d1;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
            color: #fff;
            transition: all 0.5s ease 0s;
        }
    </style>

    
    <div class="container">
        <img src="/images/6.JPG" class=" img-fluid" alt="..." style="display: block;margin:0 auto;">

        <!-- <div style="background:#ecd5e6 !important" class="jumbotron "> -->

        <div class="container text-center">

            
            <div class="info">
                <p>
                     Challenge Day is a highly acclaimed SEL program in the US which is transforming the lives of
                        the
                        students from the last thirty years, not just in the US but all over the world. Fortunately,
                        they have now come to India with their signature program to give a life-changing experiential
                        learning to students in India.
                </p>
                    <P>The education system in India is primarily academics oriented and focus is on the child’s grade
                        performance rather than identifying the child learning capabilities and addressing the needs of
                        the child’s innate skills. Adding to this, is the pressure of exams and the demands of meeting
                        the expectations of parents and society on the children that makes them vulnerable to stress,
                        anxiety, isolation, behavior issues, depression and other such disorders.</p>
                
            </div>
         
        </div>
       
    </div>
    
    <br>



    
    <div class="container">
        <img src="/images/1.jpg" class=" img-fluid" alt="..." style="display: block;margin:0 auto;">

       

        <div class="container text-center">

            
            <div class="info">
                <p>
                    Challenge Day India program goes beyond traditional anti-bullying efforts, building empathy and
                        inspiring a school-wide movement of compassion and positive change. The program aims to bring
                        social and emotional learning in schools in India as an important component for the holistic
                        development of youth to make them happier, more compassionate and responsible citizens of the
                        world.
                </p>
            </div>
            
        </div>

    </div>

    <br>




    <div class="container">
        <img src="/images/2 (2).jpg" class=" img-fluid" alt="..." style="display: block;margin:0 auto;">

    </div>

    <br>



    <div id="home_quicklinks">
        <a class="quicklink link1" href="https://www.challengedayindia.org/">
            <span class="ql_caption">
                <span class="outer">
                    <span class="inner">
                        <h2><b style="font-size: 45px;">12</b></h2>
                        <h2>Schools</h2>
                    </span>
                </span>
            </span>
            <span class="ql_top"></span>
            <span class="ql_bottom"></span>
        </a>

        <a class="quicklink link2" href="https://www.challengedayindia.org/">
            <span class="ql_caption">
                <span class="outer">
                    <span class="inner">
                        <h2><b style="font-size: 45px;">15</b></h2>
                        <h2>Challenge Day</h2>

                    </span>
                </span>
            </span>
            <span class="ql_top"></span>
            <span class="ql_bottom"></span>
        </a>

        <a class="quicklink link3" href="https://www.challengedayindia.org/">
            <span class="ql_caption">
                <span class="outer">
                    <span class="inner">
                        <h2><b style="font-size: 45px;">1000+</b></h2>
                        <h2>Students Impacted</h2>
                        <!-- <h2>1000+ Students Impacted</h2> -->
                    </span>
                </span>
            </span>
            <span class="ql_top"></span>
            <span class="ql_bottom"></span>
        </a>

       
        <div class="info">
            <p class="text-center">
                <b style="color:rgb(128,0,128)">Challenge Day India gives a breakthrough experience of
                        transformation, emotional wellness and leadership to students.</b>
            </p>
        </div>
       

    </div>
    <style>
        #home_quicklinks {
            padding: 20px 0;
            text-align: center;
        }

        a.quicklink.link1 {
            background: #cfa1cf;
        }

        a.quicklink {
            display: inline-block;
            height: 250px;
            width: 250px;
            position: relative;
            margin: 90px 30px;
        }

        a.quicklink .ql_caption {
            display: block;
            height: 250px;
            width: 250px;
            position: relative;
        }

        .outer {
            display: table;
            position: relative;
            vertical-align: middle;
            text-align: center;
            height: 100%;
            width: 100%;
            border-spacing: 0px;
            padding: 0px;
        }

        .inner {
            display: table-cell;
            position: relative;
            vertical-align: middle;
            text-align: center;
            height: 100%;
            width: 100%;
            border-spacing: 0px;
            padding: 0px;
        }

        a.quicklink .ql_caption h2 {
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
            line-height: 1.46em;
            color: #fff;
        }

        a.quicklink.link2 {
            background: #c045be;
            /* border-radius: 400px; */
        }

        a.quicklink.link3 {
            background: #ac04a9;
        }

        a.quicklink {
            font-size: 22px;
            font-weight: 500;
            text-decoration: none;
            border-radius: 100%;
            height: 250px;
            width: 250px;
        }
    </style>
    <footer class="page-footer font-small" style="background-color: #9a4a99">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            Connect with us on social media 
          <i class="fa fa-facebook-square"style="font-size:2em"></i>
          <i class="fa fa-instagram" style="font-size:2em"></i>
          <br>
          Contact us at <a href="mailto:letscelebratefoundation@gmail.com">letscelebratefoundation@gmail.com</a> 
        </div>
        <!-- Copyright -->
      
      </footer>
</body>

</html>
