<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HOME</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
   
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link href="https://fonts.googleapis.com/css?family=Charm&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800&display=swap" rel="stylesheet"> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  
 
</head>

<body style="background-color: white !important">
  <div class="container-fluid">
<nav class="navbar navbar-expand-xl navbar-light">
      <a class="navbar-brand" href="/home"><img src="public/images/8.png" alt="" srcset=""
          style="width:350px ;max-width: 350px; height: auto; margin-left: 40px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:#814c81;" href="#" id="navbarDropdownMenuLink"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              HOME
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item d1" href="/home/#aboutus" style="color:#814c81;">ABOUT US</a>
              <a class="dropdown-item d2" href="#ourapproach" style="color:#814c81;">OUR APPROACH</a>
              <a class="dropdown-item d3" href="#ourmission" style="color:#814c81;">OUR MISSION</a>
              <a class="dropdown-item d4" href="#ourvision" style="color:#814c81;">OUR VISION</a>
              <a class="dropdown-item d5" href="#sel" style="color:#814c81;">What is SEL?</a>
              <a class="dropdown-item d6" href="#team" style="color:#814c81;">TEAM</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:#814c81;" href="#" id="navbarDropdownMenuLink"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PROGRAMS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item d1" href="/programs/challenge_day_india" style="color:#814c81;">CHALLENGE DAY</a>
              <a class="dropdown-item d2" href="/programs/pankh_udaan" style="color:#814c81;">PANKH UDAAN</a>
              <a class="dropdown-item d3" href="/programs/sewing_hope" style="color:#814c81;">SEWING HOPE</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/get_involved" style="color:#814c81;">GET INVOLVED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/celebrity_wall" style="color:#814c81">CELEBRITY WALL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:#814c81">DONATE US</a>
          </li>
        </ul>
      </div>
    </nav>
    <hr class="style-two">
    <br>
    <img src="public/images/head2.jpg" alt="" srcset="" style="max-width: 2000px; height: auto; width: 100%;">
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
          <div class="box-icon">
            <!-- <span class="fa fa-4x fa-html5"></span> -->
            <h1 class="text-center"><b style="color:#fff" id="aboutus">ABOUT US</b></h1>
          </div>
          <div class="info">
            <!-- <h4 class="text-center">Title</h4> -->
            <p style="font-weight:bolder;">
              <h3> Let’s celebrate is a registered non – profit that works to bring social and emotional learning (SEL)
                in the poverty-stricken and underprivileged strata of the society to enable them to celebrate their
                life. WE believe that everyone deserves their share of joy and happiness by exercising their right to
                celebrate and this can be achieved by uplifting the emotional intelligence of our society.

              </h3>
            </p>
            <!-- <a href="" class="btn">Link</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
          <div class="box-icon">
            <!-- <span class="fa fa-4x fa-html5"></span> -->
            <h1 class="text-center"><b style="color:#fff" id="ourapproach">OUR APPROACH</b></h1>
          </div>
          <div class="info">
            <!-- <h4 class="text-center">Title</h4> -->
            <p style="font-weight:bolder;">
              <h3> Our approach includes youth participation from schools and other institutes to create a memorable
                and a special day for someone or a community in need. We treat them as our celebrity on that day and
                celebrate them for who they are. Our programs connect students to the underprivileged communities, to
                encourage them to be socially responsible and move towards building an inclusive society.
              </h3>
            </p>
            <!-- <a href="" class="btn">Link</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
          <div class="box-icon">
            <!-- <span class="fa fa-4x fa-html5"></span> -->
            <h1 class="text-center "><b style="color:#fff"id="ourmission"> OUR MISSION</b></h1>
          </div>
          <div class="info">
            <!-- <h4 class="text-center">Title</h4> -->
            <p style="font-weight:bolder;">
              <h3> Our mission is to promote social and emotional learning to bring celebration into the lives of
                the marginalized members of our society for their psychosocial well being.

              </h3>
            </p>
            <!-- <a href="" class="btn">Link</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
          <div class="box-icon">
            <!-- <span class="fa fa-4x fa-html5"></span> -->
            <h1 class="text-center"><b style="color:#fff" id="ourvision">OUR VISION</b></h1>
          </div>
          <div class="info">
            <!-- <h4 class="text-center">Title</h4> -->
            <p style="font-weight:bolder;">
              <h3> Our vision is to inculcate the spirit of emotional intelligence to improve the mental and
                emotional health of the people. By bringing people from different strata’s to celebrate together, we
                aim to foster better understandings, bond and leadership qualities to build a respectful, helpful
                and an inclusive society.

              </h3>
            </p>
            <!-- <a href="" class="btn">Link</a> -->
          </div>
        </div>
      </div>
    </div>



  </div>
  <br>

  <style>
    /* @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css); */

   

    .box {
      border-radius: 20px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      padding: 10px 25px;
      text-align: justify;
      display: block;
      margin-top: 60px;
      background-color: #ecd5e6
    }

    .box-icon {
      background-color: #9a4a99;
      border-radius: 0%;
      display: Table;
      height: 25px;
      margin: 0 auto;
      width: 400px;
      margin-top: -45px;
    }

    .info h3 {
      font-size: 22px;
      letter-spacing: 2px;

    }

    /* .info > p {
color: #9a4a99;
font-size: 16px;
padding-top: 10px;
text-align: justify;
} */
    .info>a {
      background-color: #03a9f4;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      color: #fff;
      transition: all 0.5s ease 0s;
    }

    .info>a:hover {
      background-color: #0288d1;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
      color: #fff;
      transition: all 0.5s ease 0s;
    }
  </style>

 <hr class="style-two">

  <div class="sandbox sandbox-correct-pronounciation mt-4 mb-4">
    <h1 class="heading heading-correct-pronounciation ">
      <!-- What is  -->
      <em style="color: #fff;" id="sel">What is Social And Emotional Learning</em>

    </h1>

  </div>
  <div>
    <img src="/images/social and emotional learning.png" alt="" srcset="" class="graphic"
      style="max-width:250px; height: auto; margin-left: 100px; float: left; shape-outside: url('public/images/social and emotional learning.png');margin-right: 100px">
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="font-weight:normal; font-size: 2.5rem;padding: 20px;margin-right: 80px" class="sel">
      Social and Emotional Learning (SEL) is a process
        through which one learns to understand and manage emotions, set and achieve positive goals, feel and show
        empathy for others, establish and maintain positive relationships and make responsible decisions.
    </p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <hr class="style-two">
  <style>
    /*Heading Style Four*/

    .sandbox-correct-pronounciation {
      padding: 1em 0 1em 0;
      background-color: #9a4a99;
      width: 100%;
    }

    .heading-correct-pronounciation {

      margin: auto;
      text-align: center;
      position: relative;
    }


    h6 {


      color: #fff;
    }

    em {
      /* font-family: 'EB Garamond', serif;
              font-size: 3.5em; */
      text-transform: uppercase;
      letter-spacing: 0.1em;
      display: block;
      font-style: normal;
      padding-top: 0.1em;
      text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

      &::before,
      &::after {
        content: "§";
        display: inline-block;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0.2;
        margin: 0 0.6em;
        font-size: 0.5em;
      }

    }


    .bottom {
      font-size: 1.5em;
      letter-spacing: 0.07em;
      font-size: 1em;
      display: block;
    }
  </style>
  <br>
  <div class="container-fluid">
      <h1 class="heading heading-correct-pronounciation" style="color: #fff; background-color:#814c81" id="team">
          <!-- What is  -->
          <em>TEAM</em>
    
        </h1>
    <br>
    
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6" style="border-right: 2px solid #814c81">
        <h2 class="text-center"><b style="color:#000 ;"><i>PANKHURI SEHGAL , FOUNDER</i></b></h2>
        <br>
        <figure>
          <img src="https://www.capecoraltech.edu/wp-content/uploads/2016/01/tutor-7-4.jpg" alt="" srcset=""
            style="border-radius: 50%; float:left; max-width: 40%; margin-right: 10px; margin-bottom: 100px;">

        </figure>
        <p style="text-decoration:bolder;">
          <h3 style="font-size: 1.5rem !important;">Pankhuri is an ardent empathy advocate, a psychologist and a social
            worker with an experience of around 6 years working in the social sector. She has worked on projects in
            India, Nepal and Bangladesh on issues like intergenerational prostitution, LGBT migration, disaster
            rehabilitation and refugee crisis. Her motivation to promote social and emotional learning in the Indian
            school set up led her to bring Challenge Day workshops from the United States of America to India. </h3>
        </p>

      </div>
      <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
        <h2 class="text-center"><b style="color:#000"><i>INTERN SQUAD</i></b></h2>
        <div class="row">
          <div class="col-4 col-lg-4 col-md-4 col-sm-4">
              <img src="https://www.capecoraltech.edu/wp-content/uploads/2016/01/tutor-7-4.jpg" alt="" srcset="" class="intern"
              style="border-radius: 50%; max-width: 85% ; display: block; margin: 0 auto !important; ">
              <figcaption style="text-align: center;"><b> Dyuti</b></figcaption>
            </figure>
          </div>
          <div class=" col-4 col-lg-4 col-md-4 col-sm-4 ">
          </div>
          <div class=" col-4 col-lg-4 col-md-4 col-sm-4 ">
              <img src="https://www.capecoraltech.edu/wp-content/uploads/2016/01/tutor-7-4.jpg" alt="" srcset="" class="intern"
              style="border-radius: 50%; max-width: 85% ; display: block; margin: 0 auto !important;">
              <figcaption style="text-align: center;"> <b> Mayank</b> </figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class=" col-4 col-lg-4 col-md-4 col-sm-4 ">

          </div>
          <div class=" col-4 col-lg-4 col-md-4 col-sm-4 ">
            <figure>
            <img src="https://www.capecoraltech.edu/wp-content/uploads/2016/01/tutor-7-4.jpg" alt="" srcset="" class="intern"
              style="border-radius: 50%; max-width: 85% ; display: block; margin: 0 auto !important; ">
              <figcaption style="text-align: center;"> <b> Sanyam </b> </figcaption>
            </figure>
          </div>
          <div class="col-4 col-lg-4 col-md-4 col-sm-4 ">

          </div>
        </div>
      </div>
    </div>
    <br>
    
</body>

</html>
